body {
  background: #0E0501;
  color: #FFFFFF;
  font-family: 'Afacad', sans-serif;
  font-size: 18px;
}

.hero-section {
  background: url(./images/hero-with-logo-2x.png) no-repeat top 100px center;
  background-size: 765px 347px;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 447px 20px 0 20px;
}

.hero-section h1 {
  font-size: 48px;
}

.hero-section h3 {
  font-size: 32px;
}

.hero-section .app-name {
  background: #FFFFFF;
  background: linear-gradient(to top, #F1331E 0%, #F0710E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-section {
  text-align: center;
  background: rgba(255,255,255,0.05);
}

.info-section * {
  opacity: 0.75;
  padding: 0 20px;
}

@media (max-width: 576px) {
  .hero-section {
    background-size: 550px 250px;
    padding-top: 280px;
  }

  .hero-section h1 {
    font-size: 38px;
  }

  .hero-section h3 {
    font-size: 28px;
  }
}